/* dataviz */

.tick {
  font-family:                    "Gotham Medium", "Arial";
  font-style:                     normal;
  fill:                           #444444;
}

.axis path,
.axis line {
  fill: none;
  stroke: #444444
  shape-rendering: crispEdges;

}



.y text{
  fill:                           #444444;
  font-family:                    "Gotham Medium", "Arial";
  font-style:                     normal;
  font-size:                      0.9em;
  -webkit-filter: drop-shadow( 5px 5px 5px #e5e5e5 );
            filter: drop-shadow( 5px 5px 5px #e5e5e5 );
}

.y line,
.y path{
  stroke:#38154F;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.line-usuarios {
  fill: none;
  stroke: #38154F;
  stroke-width: 6px;
  opacity: 0.8;
}

.reference-graph {
  font-size: 40px;
  font-weight: bold;
}

.reference-viajes, .reference-usuarios {
    display:                        block;
    margin:                         0 auto;
    font-family:                    "Gotham Medium", "Arial";
    font-style:                     normal;
    font-size:                      1.6em;
}

.reference-viajes {
    color:                          #38154F;
}

.reference-usuarios {

  color:                            #FF5A06;
}

.y2 text{
  fill:                           #444444;
  font-family:                    "Gotham Medium", "Arial";
  font-style:                     normal;
  font-size:                      .9em;
}

.y2 line,
.y2 path{
  stroke: #FF5A06;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.line-recorridos {
  fill: none;
  stroke: #FF5A06;
  stroke-width: 6px;
  opacity: 0.8;
}

.x {
    font-size:                      0.7em;
}

.x.axis path {
  fill: none;
  stroke: #444444;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

line.estacion {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  opacity: .5;
}

line.time {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  opacity: .9;
  shape-rendering: crispEdges;
}

.panel {
  min-height: 800px;
  width: 100%;
}

.panel-hide{
  display: none;
}

#numbers-container .span6{
  text-align: center;
}

text.label-anio {
  fill:#000;
  font-weight: bold;
}

text.label-anio.disabled {
  fill:#DDD;
  font-weight: normal;
}

text.label-estacion {
  fill:#000;
  font-weight: bold;
}

text.label-estacion.disabled {
  fill:#DDD;
  font-weight: normal;
}