/* dataviz */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}

line.estacion {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  opacity: .5;
}

line.time {
  fill: none;
  stroke: blue;
  stroke-width: 5px;
  opacity: .5;
}

.panel {
  min-height: 800px;
  width: 100%;
}

.panel-hide{
  display: none;
}

#numbers-container .span6{
  text-align: center;
}