/* dataviz */
body {
  background-color: #DDDDDD;
  font-family: arial;
  font-size: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y text{
  fill: steelblue;
}

.y line,
.y path{
  stroke:steelblue;
  stroke-width: 3px;
}

.line-usuarios {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}

.y2 text{
  fill: orange;
}

.y2 line,
.y2 path{
  stroke:orange;
  stroke-width: 3px;
}

.line-recorridos {
  fill: none;
  stroke: orange;
  stroke-width: 5px;
}

.x.axis path {
  display: none;
}

line.estacion {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  opacity: .5;
}

line.time {
  fill: none;
  stroke: blue;
  stroke-width: 5px;
  opacity: .5;
}

.panel {
  background-color: #cc9900;
  height: 800px;
  width: 100%;
}

.panel-hide{
  display: none;
}

#numbers-container .span6{
  text-align: center;
}