footer.footer {
	position: absolute;
	z-index: 200;
	bottom: 0px;
	width: 100%;
	padding: 30px 0;
	background: #252120 !important;
	border-top: #000;
}

footer.footer h4 {
	color: #fff;
	text-align: center;
	letter-spacing: 5px;
}
